<a href="https://colab.research.google.com/github/rahiakela/transformer-research-and-practice/blob/main/mastering-transformers/02-hands-on-introduction-to-subject/1_hands_on_introduction_to_subject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip -q install transformers

##Working with language models and tokenizers

In [22]:
from transformers import BertTokenizer, BertModel, pipeline
import pandas as pd

In [ ]:
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

In [10]:
text = "Using Transformer is easy!"
tokenizer(text)

{'input_ids': [101, 2478, 10938, 2121, 2003, 3733, 999, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1]}

In [12]:
encoded_input = tokenizer(text, return_tensors="pt")
encoded_input

{'input_ids': tensor([[  101,  2478, 10938,  2121,  2003,  3733,   999,   102]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1]])}

In [ ]:
model = BertModel.from_pretrained("bert-base-uncased")

output = model(**encoded_input)
output

In [18]:
len(output)

2

In [ ]:
unmasker = pipeline("fill-mask", model="bert-base-uncased")
unmasker("The man worked as a [MASK].")

In [23]:
pd.DataFrame(unmasker("The man worked as a [MASK]."))

                         sequence     score  token  token_str
0  the man worked as a carpenter.  0.097476  10533  carpenter
1     the man worked as a waiter.  0.052383  15610     waiter
2     the man worked as a barber.  0.049627  13362     barber
3   the man worked as a mechanic.  0.037886  15893   mechanic
4   the man worked as a salesman.  0.037681  18968   salesman

##Working with community-provided models

In [ ]:
classifier = pipeline("zero-shot-classification", model="facebook/bart-large-mnli")

In [25]:
sequence_to_classify = "I am going to france."
candidate_labels = ["travel", "cooking", "dancing"]

In [26]:
classifier(sequence_to_classify, candidate_labels)

{'labels': ['travel', 'dancing', 'cooking'],
 'scores': [0.9866883754730225, 0.007197572384029627, 0.006114050280302763],
 'sequence': 'I am going to france.'}

In [27]:
pd.DataFrame(classifier(sequence_to_classify, candidate_labels))

                sequence   labels    scores
0  I am going to france.   travel  0.986688
1  I am going to france.  dancing  0.007198
2  I am going to france.  cooking  0.006114

In [28]:
sequence_to_classify = "I love to reading books."
candidate_labels = ["travel", "cooking", "dancing", "reading"]
pd.DataFrame(classifier(sequence_to_classify, candidate_labels))

                   sequence   labels    scores
0  I love to reading books.  reading  0.989049
1  I love to reading books.   travel  0.004614
2  I love to reading books.  cooking  0.003654
3  I love to reading books.  dancing  0.002683

## Working with benchmarks and datasets